</html>

<body > 
   <% include ../partial/header%> 
   
  <head>
       <meta charset="UTF-8">
       <title>Intern Assistance Page</title>
       <link rel="stylesheet" href="../app.css" type="text/css">
  </head>
   
       
   
    
              

    <% include ../partial/footer %>
</body>       
    

