<body>
<% include ../partial/header %>

<head>

    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Intern Assistance Page</title>
</head>


<header>
    <h1 class="center">Intern Assistance Page</h1>
</header>
<br>
<br>
<section>
    <div id="change_username">
        <input id="username" type="text"/>
        <br>
        <button id="send_username" type="button">Change username</button>
        <br>
    </div>
</section>
<br>
<br>
<section id="chatroom">
    <section id="feedback"></section>
</section>


<section id="input_zone">
    <input id="message" class="vertical-align" type="text"/>
    <button id="send_message" class="vertical-align" type="button">Send</button>
</section>
<br>
<br>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="chat.js"></script>
<br>
<br>
<br>
<br>

<% include ../partial/footer %>

</body>

