<!DOCTYPE html>
<html>
<head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <link rel="stylesheet" href="/scripts/chat.css" />
    <title>Chat</title>
</head>
<body class="chatbody">
    <% include ../partial/header%> 
   

<div id="chat-container">
</div>

<textarea id="chat-input">
</textarea>

<script src="/public/chat.js"></script>
</body>
</html>
</html>
 <% include ../partial/footer %>
<body> 
   
   
    

