<body>
<% include ../partial/header %>

<head>
    <meta charset="UTF-8">
    <title>
        Intern Assistance App
    </title>
    <link rel="stylesheet" href='app.css' type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/bootstrap.min.js"></script>
    <div class="imhold">

        </head>
        <br>
        <br>
        <div class="center">
            <div class="spacers">
                <h1 class=" center">Welcome to the Intern Assistance Portal</h1>
                <p class="Justify">We hope you have a great experience and we hopefully have provided all you need
                    to make you ease into your new position. Register and Login to get up to date information on everything
                    you need for your role and we have also provided tools to encourage networking and task management. Again welcome to the
                    Company and we hope you enjoy your Intern Experience.</p>
                <br>


                <img src="happyintern.jpg" class="images1"  id= "responsive" align="middle" alt="happy intern"/>

            </div>
        </div>

        <br>
        <br>
        <br>


        <br>
        <br>
        <br>
        <% include ../partial/footer %>
</body>