<body style="background-color: lightblue">
<% include ../partial/header %>

<head>
    <meta charset="UTF-8">
    <title>
        Intern Assistance App
    </title>
    <link rel="stylesheet" href='app.css' type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <script src="/js/bootstrap.min.js"></script>
    <div class="imhold">

        </head>
        <br>
        <br>
        <div class="center">
            <div class="spacers">
                <h1 class=" center">Welcome to the Intern Assistance Portal</h1>
                <p class="Justify">We hope you have a great experience with us and we hope we have provided all you need
                    to make you comfortable in
                    your new position. Login and Register to get up to date information on your role, We have provided
                    you with all the information
                    you need and we have provided tools to encourage networking and task management. Welcome to the
                    Company and we hope you enjoy your
                    Intern Experience.</p>
                <br>


                <img src="happyintern.jpg" class="images1" align="middle" alt="happy intern"/>

            </div>
        </div>

        <br>
        <br>
        <br>


        <br>
        <br>
        <br>
        <% include ../partial/footer %>
</body>