<body > 
   <% include ../partial/header%> 


  <head>
       <meta charset="UTF-8">
       <title>Intern Schedule Page</title>
       <link rel="stylesheet" href="../app.css" type="text/css">
  </head>
  
        <h2 class="center"> Scheduling </h2>
            <div class="container center">
                
                <form  accept-charset="UTF-8" action ="/addtask" method="POST">
                    <div class="item">
                    <label for="task id">Task Id:</label>
                    <input name="task id" type="text" minlength="6" placeholder="Please enter your name", pattern='[a-zA-Z][a-zA-Z ]{2,}', title='Please enter your name', required/>
                    <br>
                    <label for="type">Type:</label>
                    <input name="type" type="text" placeholder="Please enter the type of task", pattern='[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$', title='Correct email Format', required/>
                    <br>
                    <label for="description">Description:</label>
                    <input name="description" type="text" minlength="10" placeholder="Please enter task details",  pattern='[a-zA-Z][a-zA-Z ]{4,}', title='Did you forget your Comment', required />
                    <br>
                    <label for="priority">Priority:</label>
                    <input name="priority" type="text" placeholder="priority level....." />
                    <br>
                    <label for="time">Time:</label>
                    <input name="time" type="text" placeholder="to be done by....." />
                    <br>
                    <button formaction="/Addtask" type="submit">Add Task</button>
                </div>
                    
                    
                </form>   
                
    </div>

                    
                   
                    <!--<button formaction="/removetask" type="submit"> Remove Task</button>-->
                    <!--<button formaction="/seeAlltasks" type="submit"> View Tasks </button>-->
                
            </div>
  
  
 

             
    
    
    <% include ../partial/footer %>
</body> 


