<% include ../partial/header %>
<body>
<% include ../partial/nav %>


<head>
    <title>Intern Schedule Page</title>
    <link rel="stylesheet" href="../app.css" type="text/css">
</head>


<h1 class="center">Scheduling</h1>


<a href="/tasklist" class="button">&nbsp;See Task List</a>
<br>
<br>
        <div class="grid-container2">







                <form accept-charset="UTF-8" action="/addtask" method="POST">
                        <div class="item">
                                    <label for="task id" class="clear">Task Id:</label>
                                    <input name="task id" type="text" minlength="1" placeholder="Please enter your name" ,required/>
 <br>
                                    <label for="type" class="clear">Type:</label>
                                    <input name="type" type="text" placeholder="Please enter the type of task" , required/>
                                    <br>
                                    <label for="description" class="clear">Description:</label>
                                    <input name="description" type="text" minlength="10" placeholder="Please enter task details",
                                           required/>
                                    <br>
                                    <label for="priority" class="clear">Priority:</label>
                                    <input name="priority" type="text" placeholder="priority level....." title='indicate the priority level' , required/>
                                    <br>
                                    <label for="time" class="clear">Time:</label>
                                    <input name="time" type="text" placeholder="to be done by....." title='what is the time frame' , required/>
                                    <br>
                                    <button formaction="/addtask" type="submit">Add Task</button>

                        </div>


                </form>
<br>
        </div>


<br>
<br>
<br>
<br>




<br>
<br>
<br>

<% include ../partial/footer %>
</body> 


