<body > 
   <% include ../partial/header%> 


  <head>
       <meta charset="UTF-8">
       <title>Intern Schedule Page</title>
       <link rel="stylesheet" href="../app.css" type="text/css">
  </head>
  
        <h2 class="center"> Scheduling </h2>
            <div class="container center">
                
                <form action ="/addtask" method="POST">
                    
                    <textarea name="newtask" class="tasks" placeholder="details of task....."></textarea>
                    
                </form>    
                    
                    <button formaction="/addtask" type=submit"> Add Task </button>
                    <button formaction="/removetask" type="submit"> Remove Task</button>
                    <button formaction="/seealltasks" type="submit"> View Tasks </button>
                
            </div>
  
  
 

             
    
    
    <% include ../partial/footer %>
</body> 


