<!DOCTYPE html>
<html>
  <head>
       <meta charset="UTF-8">
       <title>Intern Training Page</title>
       <link rel="stylesheet" href="../app.css" type="text/css">
  </head>
     
              <% include ../partial/header %>
                <!--my page info goes here-->
    <!--training options broken down into indivual depts and ones common to all maybe elective ones too-->
    
              <% include ../partial/footer %>



</html>