<% include ../partial/header %>
<body>
<% include ../partial/nav %>


<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

                <form id="uploadForm" class=center" ref="uploadForm" method="post" enctype="multipart/form-data">
                            <input class="button" type="file" name="sampleFile" />
<br>
<br>
                            <input class="button" id="mod" type="submit" value="Upload!" />
                </form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<% include ../partial/footer %>
</body>