<div class="header">
  <div class="imagery">
     <link rel="stylesheet" href="../app.css" type="text/css">
    
<div class="imhold">
 <img alt="lo" id="poster" class="logo" src='/logo.jpg'></div>
 <div class="navhold">
  <div class="topnav">
  <a href="/">Home</a>
  <a href="/schedule">Schedule</a>
  <a href="/training"  >Training</a>
  <a href="/communication">Communication</a>
  <a href="/assistance">Assistance</a>
  <a href="/contact" >Contacts</a>
  </div>
  </div>
  <br>
  <br>