<html lang="en">
<div class="header">
  <div class="imagery">
     <link rel="stylesheet" href="../app.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="imhold">
 <img alt="logo" id="poster" class="logo" src='/logo.jpg'></div>
 <div class="navhold">
  <div class="topnav">
  <a href="/">Home</a>
  <a href="/login">Log In</a>
  <a href="/register">Register</a>
  <a href="/schedule">Schedule</a>
  <a href="/training"  >Training</a>
  <a href="/communication">Chat</a>
  <a href="/assistance">Assistance</a>
  <a href="/contact" >Contacts</a>
  <a href="/upload">Upload Image</a>
  <a href="/logout">Log Out</a>
  </div>
  </div>
  <br>
  <br>