
<div class="header">
  <div class="imagery">


    <div class="imhold">
       <img alt="logo" id="poster" class="logo" src='/internapp1.png'></div>

       <div class="navhold">
        <div class="topnav">
          <a href="/">Home</a>
         <%# if (passport.session === false) {%>
          <a href="/login">Log In</a>
          <a href="/register">Register</a>

           <%# }else { %>

              <a href="/schedule" class="showItem">Schedule</a>
              <a href="/training" class="showItem" >Training</a>
              <a href="/communication" class="showItem">Chat</a>

              <a href="/assistance" class="showItem">Assistance</a>
              <a href="/contact" class="showItem">Contacts</a>
              <a href="/upload" class="showItem">Upload Image</a>
              <a href="/logout">Log Out</a>
            <%# } %>

        </div>
      </div>
   </div>
</div>
</div>
  <br>
  <br>