/*Body*/
body {
    background-image: url("../blue.jpg");
    background-repeat: repeat;
    background-size: 100% ;
    background-attachment: scroll;
    min-height: 950px;
    height: 100%;
    width: 100%;
    background-repeat: repeat-y;
}   

.Spacers p{
    text-align: center;
    width: 50%;
    font-size: 26px;
    font-weight: bold;
    color: white;
    border: 5px white solid;
    padding: 10px;
    border-radius: 15px;
    margin-left: 320px;
    margin-top: 50px;
}

.center{
    text-align: center;
}

.login{
    min-height: 250px;
}

.logo {
    width: 100px;
    height: 50px;
}  

.navhold{
    text-align: center;
    width: 80%;
    margin-left: 200px;
    /*margin-right: auto;*/
    float: center;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 15px;
}

.holder {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    width: 80%;
    margin-bottom: 15px;
}

/* Styles the links inside the navigation bar */
.topnav a {
    float: none;
    color: #000000;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    background-color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    color: black;
}

/* Add a color to the active/current link */
.topnav .active {
    background-color: darkblue;
    color: white;
}

.images {
    width: 400px;
    height: 400px;
    margin-top: 15px;
}
    
/*footer section*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  height:90px; 
}
/*login for application*/
.login-form {
			width: 300px;
			margin: 0 auto;
			font-family: Tahoma, Geneva, sans-serif;
		}
		.login-form h1 {
			text-align: center;
			color: #4d4d4d;
			font-size: 24px;
			padding: 20px 0 20px 0;
		}
		.login-form input[type="password"],
		.login-form input[type="text"] {
			width: 100%;
			padding: 15px;
			border: 1px solid #dddddd;
			margin-bottom: 15px;
			box-sizing:border-box;
		}
		.login-form input[type="submit"] {
			width: 100%;
			padding: 15px;
			/*background-color: #535b63;*/
			border: 0;
			box-sizing: border-box;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
			margin-bottom: 10px;
		}
		
		/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}



/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.output{
    background-color: white;
    height: 450px;
    width: 850px;
   margin-left: 250px;
   border-radius: 15px;
    
}
btn1{
    float: right;
}


.tasks{
    min-width: 300px;
    height: 300px;
    background-color: white;
}

.container center{
    width: 400px;
}



.grid-container1, center{
  display: grid;
  align-content: center;
  grid-template-columns: auto auto auto;
  border-radius: 15px;
  grid-gap: 15px;
  background-color: white;  
  padding: 30px;
  width: 50%;
  margin-left: 350px;
  
}

input[type=text], select {
    width: 450px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.images{
    width: 200px;
    height: 200px;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}

.nobull {
list-style-type: none;
input: 20px "Freestyle Script";
}



.options{
    background-color: teal;
    border-radius: 15px;
}


.container center{
   margin-top: 20px;
   border-radius: 15px;
   margin-left: 10px;
   width: 70%;
   background-color: white;
   align-content: left;
}

.item2 {
  //align-content:  center;
  text-align: center;
  border: 15px solid teal;
  border-radius: 25px;
  /*margin: 10px;*/
  /*margin-left: 220px;*/
  margin: auto;
  background-color: white;
  width: 60%;
  margin-bottom: 20px;
}

item {
 // align-content:  center;
  //text-align: center;
  border: 15px solid teal;*/
  border-radius: 25px;*/
  margin: 10px;*/
  margin-left: 220px;*/
  background-color: white;*/
  width: 60%;*/
  margin-bottom: 20px;*/
}

.container2{
    color: white;
    font-size: 30px;
    margin: auto;
    border-radius: 15px solid black;
    background-color: lightblue;
    font: 'comic sans';
    font-size: 30px;
    color: blue;
    width: 60%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.images{
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 3px solid darkslategrey;
    background-color: white;
}

.container center {

    border-radius: 15px;
    margin: auto;
    margin-top: 20px;
    width: 70%;
    background-color: white;
    margin-left: 330px;
}

.container {
    width: 60%;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
}
.grid-container1{
    margin-top: 20px;
    border-radius: solid teal 15px ;
    content-align: left;
    width: 50%;
    color: black;
    margin: auto;
    background-color: #81BEF7;
    height: 5s00px;
}

input[type="text"] {
    width: 190%;
    background-color: white;
    color: teal;
    //padding: 15px 20px;
    margin: 8px 0;
    //cursor: pointer;
    //margin: 10px;
    display: block;
    align-content: center;


}

label {
    display: inline-block;
    margin: 10px;
}